:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-hover: #ea7600;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Neucha;
  src: url('../fonts/Neucha-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font: 16px/1.6em 'Open Sans', sans-serif;
  color: var(--dark);
}

header, section, footer,
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

header {
  background-color: var(--light);
  overflow: hidden;
}

section, 
.content {
  width: 100%;
  padding: 100px 0;
}

section > *,
.content {
  z-index: 2;
  max-width: 1110px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
}

h1 {
  font-size: 4.5rem; /* 72px */
}

h2 {
  font-size: 3.75rem; /* 60px */
}

h3 {
  font-size: 2.125rem; /* 34px */
}

h4 {
  font-size: 1.5rem; /* 24px */
}

header::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: 1;
}

footer a {
  color: var(--blue);
}

footer p {
  margin: 0;
  margin-top: 16px;
  font-size: 0.875rem;
  line-height: 1.4rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 190px;
  padding: 55px;
  margin-bottom: 60px;
  background-color: var(--main-dark);
  color: var(--white);
}

form > * {
  flex-basis: 50%;
  flex-grow: 1;
}

label {
  display: block;
  margin-bottom: 10px;
  color: var(--white);
}

.form-input {
  height: 50px;
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
  border: none;
  background-color: var(--white);
  flex-grow: 1;
}

.form-input-wrapper {
  display: flex;
  align-items: center;
}

.header {
  display: block;
  width: 100%;
  z-index: 1;
  padding-bottom: 185px;
}

.text-orange {
  color: var(--main);
}

.text-white {
  color: var(--white);
}

.form-info, .form-info a{
  color: var(--white);
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.video-section {
  background-color: var(--white);
}

.navigation-section {
  padding-top: 200px;
  background-color: var(--main-dark);
  color: var(--white);
}

.columns-2 {
  columns: 2;
  column-gap: 30px;
}

.columns-header ~ p {
  margin-top: 0;
}

li.card p {
  margin: 0;
}

.columns-2 p:first-of-type {
  break-after: column;
}

.columns-2 p:last-of-type {
  margin-bottom: 0;
}

.columns-header {
  column-span: all;
  margin: 100px 0 20px;
  padding: 5px 10px;
  font-family: Open-sans, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
}

.button {
  display: inline-block;
  color: var(--white);
  background-color: var(--main);
  margin-top: 40px;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 160%;
  cursor: pointer;
}

.send-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  text-align: center;
  color: var(--white);
  background-color: var(--main);
  flex: 0 0 70px;
  height: 50px;
  cursor: pointer;
}

.send-button::before {
  content: '';
  background-image: url('../images/send.svg');
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover,
.send-button:hover {
  background-color: var(--main-hover);
}

.section-header {
  margin-bottom: 30px;
  text-align: center;
}

.section-subheader {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto;
  border: none;
}

.video {
  display: inline-block;
  position: relative;
  margin-top: -200px;
  top: 200px;
  width: 919px;
  height: 517px;
  z-index: 2;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

ul.card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-section > * {
  flex: 1 1 auto;
}

ul.card-list > * {
  width: 350px;
  box-sizing: border-box;
}

.feature-section h2 {
  margin-bottom: 30px;
}

li.card h2 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 40px;
}

ul.card-list > li > h2 {
  font-size: 3.25rem;
  line-height: 3.9rem;
  color: var(--white);
}

li.card {
  padding: 1.5rem;
  background-color: var(--light);
  cursor: pointer;
}

li.card h3 {
  line-height: 2.55rem;
  margin-bottom: 16px;
  color: var(--main);
}

li.card a {
  text-decoration: none;
  color: var(--dark);
}

li.card:hover,
li.card:hover h2,
li.card:hover h3,
li.card:hover p {
  background-color: var(--main);
  color: var(--white);
}

.feature-section {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.sub-heading {
  display: block;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-family: Neucha, sans-serif;
}

.feature-section .description {
  font-family: Neucha, sans-serif;
  font-size: 2.125rem;
  line-height: 2.55rem;
}

.content-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.content-section img {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.content-section:nth-child(odd) {
  background-color: var(--light);
}

.content-section:nth-child(even) {
  background-color: var(--brown);
  color: var(--white);
}

.content-section:nth-child(even) .feature-section {
  flex-direction: row-reverse;
}

.content-section:nth-child(odd) .sub-heading {
  color: var(--dark-transparent);
}

.content-section:nth-child(even) .sub-heading {
  color: var(--white-transparent);
}

.content-section:nth-child(odd) .columns-header {
  background-color: var(--brown);
  color: var(--white);
}

.content-section:nth-child(even) .columns-header {
  background-color: var(--white);
  color: var(--brown);
}
